<app-header [config]="config"></app-header>
<ion-content class="ion-padding">
  <mat-card>
    <mat-card-content>

      <form [formGroup]="tareaForm" class="space-y-4">
 
        <mat-form-field  class="w-full">
          <mat-label>Titulo</mat-label>
          <input matInput formControlName="vTitulo" placeholder="nueva tarea">
          @if (tareaForm.get('vTitulo')?.invalid && tareaForm.get('vTitulo')?.touched) {
            <mat-error>El titulo es requerido (mínimo 3 caracteres)</mat-error>
          }
        </mat-form-field>

        <mat-form-field  class="w-full">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="vDescripcion" rows="3" placeholder="Descripción opcional de la tarea"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Prioridad</mat-label>
          <mat-select formControlName="iPrioridad">
            @for (itemPrioridad of dataPrioridad; track itemPrioridad.iPrioridad) {
              <mat-option [value]="itemPrioridad.iPrioridad">{{ itemPrioridad.vDescripcion }}</mat-option>
            }
          </mat-select>
          <mat-error>Seleccione una caja</mat-error>
        </mat-form-field>
      </form>

    </mat-card-content>
  </mat-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-end">
    <ion-button color="danger" (click)="closeClick()">
      <lucide-icon [img]="X" size="18" style="margin-right: 8px;"></lucide-icon>
      Cancelar
    </ion-button>
    <ion-button color="success" (click)="guardar()" [disabled]="tareaForm.invalid">
      <lucide-icon [img]="Save" size="18" style="margin-right: 8px;"></lucide-icon>
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
